.input-search-container {
	position: relative;
	width: 100%;
	max-width: 500px;
}

.search-input {
	width: calc(100% - 58px);
	height: 40px;
	padding: 5px 20px;
	padding-left: 35px;
	font-size: 18px;
	border-radius: 40px;
	border: 1px solid var(--table-head);
	transition: border-color 0.3s ease-in-out;
}

.input-focused.search-input {
	border-color: var(--gray500);
}

.icon-container {
	display: grid;
	align-items: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	transition: color 0.3s ease-in-out;
}
